mixin card(network)
  article(class=`mediacard mediacard--${network.net}`)
    - var name = "@nathanf"
    header.mediacard__header 
      img.mediacard__netlogo(src=`assets/images/icon-${network.net}.svg`, alt=`${network.net} logo`)
      if network.net == "instagram" 
        - name = "@realnathanf"
      else
        if network.net == "youtube" 
         - name = "Nathan F."
      h2.mediacard__user= name
    p.mediacard__stats= network.follows
      span.mediacard__stats-description 
        if network.net == "youtube"
          = `SUSCRIBER`
        else
          = `FOLLOWERS`
    if network.today >= 0
      p.mediacard__today-stats--positives= `${network.today} Today`
    else 
      p.mediacard__today-stats--negatives= `${network.today} Today`