mixin stats(net)
  .net
    p.net__stats= net.item
      span.net__stats--number= net.stats
    .net__network
      img.net__log(src=`assets/images/icon-${net.net}.svg`, alt=`${net.net} logo`)
      if net.percentage < 0
        span.net__percentage--negative= net.percentage
      else 
        span.net__percentage= net.percentage