mixin stats(net)
  li.stat__item
    a(href=`http://www.${net.net}.com` class="stat__link" aria-label= `Nathan F ${net.net}`)
      .stat__stats-container
        p.stat__stats= net.item
        p.stat__stats--number= net.stats
      .stat__network
        img.stat__logo(src=`assets/images/icon-${net.net}.svg`, alt=`${net.net} logo`)
        - var extraClass = "stat__percentage--positive"
        if net.percentage < 0
          - extraClass = "stat__percentage--negative"
        span(class=`stat__percentage ${extraClass}`)= `${Math.abs(net.percentage)}%`